# Entornos virtuales
venv/
.env

# Archivos de bases de datos
*.db

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos creados por el sistema
.DS_Store
Thumbs.db

# Dependencias descargadas
*.egg-info/
